**/.mypy_cache/
**/.pyre/
**/.pytype/
**/.ruff_cache/
**/__pycache__/
**/cython_debug/
**/downloads/
**/__pycache__/


**/__pypackages__/
**/ENV/
**/env/
**/env.bak/
**/venv/
**/venv.bak/
**/virtualenv/

.venv/

.dmypy.json
.pdm.toml
.Python
.python-version
.scrapy
.webassets-cache